<!-- app/views/profiles/image_processing.html.erb -->
<div class='overflow-scroll top-wrapper'>
  <div class="p-6 mx-auto my-auto mt-8 bg-white rounded-lg shadow-lg max-w-screen-lg">
    <div class="flex items-center justify-center mb-4 text-xl font-bold text-slate-600">

      <% if @user.image.attached? %>

        <!-- プレビューを表示 -->
        <div class="image-preview">
          <%= image_tag @user.image, id: "image_preview", size: "250", class: "flex justify-center rounded-lg" %>
        </div>

        <div class="flex items-center mb-4 ml-8">
          <%= form_with model: @user, url: image_processing_profile_path, local: true do |f| %>
            <div class="mb-4 form-group">
              <%= f.file_field :image, onchange: "imageImage(this);" %>
            </div>
            <div class="mb-4 form-group">
              <%= f.check_box :remove_image %>
              <%= f.label :remove_image, '画像を削除' %>
            </div>
              <%= f.submit '更新', class: 'text-lg border-2 border-red-500 rounded-lg text-red-500 shadow-lg mb-7 hover:bg-red-500 hover:text-white text-center py-1 px-3 hover:border-transparent rounded' %>
          <% end %>
        </div>

      <% else %>

          <!-- プレビューを表示するための追加 -->
        <div class="image-preview">
          <%= image_tag 'noimage.png', size: '250',id: "image_preview", class: "flex justify-center rounded-lg" %>
        </div>

        <div class="flex items-center mb-4 ml-8">
          <%= form_with model: @user, url: image_processing_profile_path, local: true do |f| %>
            <div class="mb-4 form-group">
              <%= f.file_field :image, onchange: "imageImage(this);" %>
            </div>

            <div class="mb-4 form-group">
              <%= f.submit '作成', class: 'text-lg border-2 border-red-500 rounded-lg text-red-500 shadow-lg mb-7 hover:bg-red-500 hover:text-white text-center py-1 px-3 hover:border-transparent rounded' %>
            </div>
          <% end %>

      <% end %>

    </div>
  </div>
</div>

<!-- プレビュー表示用の JavaScript -->
<script>
  function imageImage(obj){
    const fileReader = new FileReader();
    fileReader.onload = (function() {
      document.getElementById('image_preview').src = fileReader.result;
    });

    if (obj.files.length > 0) {
      fileReader.readAsDataURL(obj.files[0]);
    } else {
      document.getElementById('image_preview').src = '/assets/noimage.png'; // デフォルトの画像を設定
    }
  }
</script>
