<!-- app/views/profiles/show.html.erb -->
<% content_for(:title, t('.title')) %>
<div class='relative overflow-scroll top-wrapper'>
  <div class="pt-6 pb-6">
    <div class="p-6 mx-auto bg-white rounded-lg shadow-lg max-w-screen-md">
      <div class="flex justify-center mb-4 text-4xl font-bold text-slate-600">
        <%= (t '.title') %>
      </div>

      <div class="text-center text-gray-700">
        <div class="flex justify-center w-full px-2 py-4 rounded-lg shadow-lg mb-7">
          <div class="text-center text-gray-700">
            <div class="flex justify-center w-full px-2 py-4 rounded-lg mb-7">
              <% if @user.image.attached? %>
                <%= image_tag @user.image.variant(resize: '250') %>
              <% else %>
                <%= image_tag 'noimage.png', size: '250x250' %>
              <% end %>
            </div>
            <%#= link_to '画像を変更', image_processing_profile_path, class:"text-lg border-2 border-red-500 rounded-lg text-red-500 shadow-lg mb-7 hover:bg-red-500 hover:text-white text-center py-1 px-3 hover:border-transparent rounded" %>
          </div>
        </div>

        <div class="w-full px-2 py-4 rounded-lg shadow-lg mb-7">
          <div class="justify-center text-2xl text-red-500"><%= (t '.name') %></div>
          <div class="justify-center text-2xl"><%= @user.name %></div>
        </div>

        <div class="w-full px-2 py-4 rounded-lg shadow-lg mb-7">
          <div class="justify-center text-2xl text-red-500"><%= (t '.email') %></div>
          <div class="justify-center text-2xl"><%= @user.email %></div>
        </div>
      </div>

      <div class="flex justify-center mb-2">
        <%= link_to t('.edit_profile'), edit_profile_path, class:"text-lg border-2 border-red-500 rounded-lg text-red-500 shadow-lg mb-7 hover:bg-red-500 hover:text-white text-center py-1 px-3 hover:border-transparent rounded" %>
      </div>
    </div>
  </div>
</div>
