<div class='top-wrapper'>
  <div class="flex items-center justify-center h-screen">
    <div class="p-6 mx-auto bg-white rounded-lg shadow-lg max-w-screen-lg">
      <%= form_with model: @keyboard, url: diagnoses_path, local: true, method: :post do |f| %>
        <div class="flex flex-col text-2xl">
        <h2 class="mb-2 text-red-600">必須項目</h2>
          <p>質問1: 予算はどれくらいで考えていますか？</p>
          <%= f.select :price, [['0~5000円', '0-5000'], ['5000~10000円', '5000-10000'], ['10000~15000円', '10000-15000'], ['15000~20000円', '15000-20000'], ['20000~30000円', '20000-30000'], ['30000円以上', '30000+']], prompt: '選択してください', class: "w-full" %>

          <h2 class="mt-2 mb-2 text-blue-600">任意項目</h2>
          <p class="mt">質問2: 使用しているPCを教えてください</p>
          <%= f.select :os, [["WindowsOS", "windows"], ["MacOS", "mac"]], prompt: '選択してください' %>

          <p class="mt-2 mb-2">質問3: 希望するサイズはなんですか？</p>
          <%= f.select :size, [["テンキーあり", "フルサイズ"], ["テンキーなし", "テンキーレス"]], prompt: '選択してください' %>

          <p class="mt-2 mb-2">質問4: どちらの配列好みですか？</p>
          <%= f.select :layout, [["世界の標準レイアウト(US配列)", "US配列"], ["日本の標準レイアウト(JIS配列)", "JIS配列"]], prompt: '選択してください' %>
        </div>

        <br>
        <button type="submit" class="px-4 py-1 font-semibold border hover:bg-slate-500 text-slate-700 hover:text-white border-slate-500">診断する</button>
      <% end %>
      </div>
    </div>
  </div>
</div>
