<div class='top-wrapper'>
  <div class="flex items-center justify-center h-screen">
<!-- app/views/diagnoses/new.html.erb -->
    <%= form_with model: @keyboard, url: diagnoses_path, local: true, method: :post do |f| %>
      <p>必須項目</p>
      <p>質問1: 希望する価格帯はどれくらいですか？</p>
      <%= f.select :price, [['0~5000円', '0-5000'], ['5000~10000円', '5000-10000'], ['10000~15000円', '10000-15000'], ['15000~20000円', '15000-20000'], ['20000円以上', '20000+']], prompt: '選択してください' %>

      <p>質問2: 希望するOSはなんですか？</p>
      <%= f.select :os, [["WindowsOS", "windows"], ["MacOS", "macos"]], prompt: '選択してください' %>

      <p>必須ではない項目</p>
      <p>質問3: 希望するサイズはなんですか？</p>
      <%= f.select :size, [["テンキーあり", "フルサイズ"], ["テンキーなし", "テンキーレス"]], prompt: '選択してください' %>

      <p>質問4: 希望するレイアウトはなんですか？</p>
      <%= f.select :layout, [["US配列", "US配列"], ["日本語配列", "日本語配列"]], prompt: '選択してください' %>

      <p>質問5: 希望するキースイッチはなんですか？</p>
      <%= f.select :switch, [["メンブレン方式", "メンブレン"], ["パンタグラフ方式", "パンタグラフ"], ["メカニカル方式", "メカニカル"], ["静電容量無接点方式", "静電容量無接点"]], prompt: '選択してください' %>

      <p>質問6: 希望するメーカー名やモデルを記載してください(任意)</p>
      <%= f.text_field :name, prompt: '記載してください' %>

      <br>
      <%= f.submit '診断する' %>
    <% end %>

    <br>
    <%= link_to '過去の診断結果を表示する', diagnoses_path %>
    </div>
</div>
