<div class='top-wrapper'>
  <div class="backdrop-blur-md flex bg-cover bg-center h-[calc(100vh-134px)]">
    <div class="flex flex-col items-center justify-center h-screen pb-12 mx-auto max-w-screen-lg">
      <div class="p-6 bg-white rounded-lg shadow-lg">
      <%= form_with model: @keyboard, url: diagnoses_path, local: true, method: :post do |f| %>
        <h2 class="text-lg text-red-600">必須項目</h2>
        <p class="mt-1">質問1: 希望する価格帯はどれくらいですか？</p>
        <%= f.select :price, [['0~5000円', '0-5000'], ['5000~10000円', '5000-10000'], ['10000~15000円', '10000-15000'], ['15000~20000円', '15000-20000'], ['20000円以上', '20000+']], prompt: '選択してください', class: "w-full" %>

        <p class="mt-1">質問2: 希望するOSはなんですか？</p>
        <%= f.select :os, [["WindowsOS", "windows"], ["MacOS", "mac"]], prompt: '選択してください' %>

        <h2 class="text-lg text-blue-600">任意項目</h2>
        <p class="mt-1">質問3: 希望するサイズはなんですか？</p>
        <%= f.select :size, [["テンキーあり", "フルサイズ"], ["テンキーなし", "テンキーレス"]], prompt: '選択してください' %>

        <p class="mt-1">質問4: 希望するレイアウトはなんですか？</p>
        <%= f.select :layout, [["US配列", "US配列"], ["JIS配列", "JIS配列"]], prompt: '選択してください' %>

        <p class="mt-1">質問5: 希望するキースイッチはなんですか？</p>
        <%= f.select :switch, [["メンブレン方式", "メンブレン"], ["パンタグラフ方式", "パンタグラフ"], ["メカニカル方式", "メカニカル"], ["静電容量無接点方式", "静電容量無接点"]], prompt: '選択してください' %>

        <br>
        <button type="submit" class="px-4 py-1 mt-3 font-semibold border hover:bg-slate-500 text-slate-700 hover:text-white border-slate-500">診断する</button>
      <% end %>
      </div>
    </div>
  </div>
</div>
