<% content_for(:title, t('.title')) %>
<div class='relative overflow-scroll top-wrapper'>
  <div class="absolute relative flex justify-center mx-auto mt-6 mb-6 rounded-lg shadow-lg bg-gradient-to-r from-indigo-50 via-violet-50 to-pink-50 max-w-screen-lg">
      <%= form_with model: @keyboard, url: diagnoses_path, data: { turbo: false }, local: true, method: :post do |f| %>
        <h1 class="pt-6 pb-2 text-4xl font-bold text-center text-transparent bg-clip-text bg-gradient-to-r from-pink-400 to-violet-500"><%= (t '.title') %></h1>
        <div class="p-4">

          <div class="flex flex-col space-y-6">

              <!-- Q1 -->
              <h2 class="text-2xl text-center text-red-600"><%= (t '.required') %></h2>
              <div class="p-4 bg-white rounded-lg">
                <p class="mb-2 text-xl text-red-500"><%= (t '.q1') %></p>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :price, '0-5000', id: '0-5000' %>
                  <%= label_tag '0-5000', '0~5000円', class: 'hover:text-red-600' %>
                </div>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :price, '5000-10000', id: '5000-10000' %>
                  <%= label_tag '5000-10000', '5001~10000円', class: 'hover:text-red-600' %>
                </div>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :price, '10000-15000', id: '10000-15000' %>
                  <%= label_tag'10000-15000' ,'10001~15000円', class: 'hover:text-red-600' %>
                </div>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :price, '15000-20000', id: '15000-20000' %>
                  <%= label_tag '15000-20000','15001~20000円', class: 'hover:text-red-600' %>
                </div>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :price, '20000-30000', id: '20000-30000' %>
                  <%= label_tag '20000-30000', '20001~30000円', class: 'hover:text-red-600' %>
                </div>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :price, '30000+', id: '30000' %>
                  <%= label_tag '30000', '30001円以上', class: 'hover:text-red-600' %>
                </div>
              </div>

              <!-- Q2 -->
              <h2 class="text-2xl text-center text-blue-600 "><%= (t '.optional') %></h2>
              <div class="p-4 bg-white rounded-lg">
                <p class="mb-2 text-xl text-blue-600"><%= (t '.q2') %></p>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :os, 'mac', id: 'mac' %>
                  <%= label_tag 'mac', 'Mac', class: 'hover:text-blue-600' %>
                </div>

                <div class="mb-1 mr-2 text-lg">
                  <%= f.radio_button :os, 'windows', id: 'windows' %>
                  <%= label_tag 'windows', 'Windows', class: 'hover:text-blue-600' %>
                </div>

                <!-- 他のラジオボタンを追加 -->
                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :os, '', id: 'os_none' %>
                  <%= label_tag 'os_none', '選択しない', class: 'hover:text-blue-600' %>
                </div>
              </div>

              <!-- Q3 -->
              <div class="p-4 bg-white rounded-lg">
                <p class="mb-2 text-xl text-blue-600"><%= (t '.q3') %></p>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :size, 'フルサイズ', id: 'full_size' %>
                  <%= label_tag 'full_size', 'はい', class: 'hover:text-blue-600' %>
                </div>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :size, 'テンキーレス', id: 'half_size' %>
                  <%= label_tag 'half_size', 'いいえ', class: 'hover:text-blue-600' %>
                </div>

                <!-- 他のラジオボタンを追加 -->
                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :size, '', id: 'size_none' %>
                  <%= label_tag 'size_none', '選択しない', class: 'hover:text-blue-600' %>
                </div>
              </div>

              <!-- Q4 -->
              <div class="p-4 bg-white rounded-lg">
                <p class="mb-2 text-xl text-blue-600"><%= (t '.q4') %></p>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :layout, 'US配列', id: 'us_array' %>
                  <%= label_tag 'us_array', 'すっきりして見える方がいい(US配列)', class: 'hover:text-blue-600' %>
                </div>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :layout, 'JIS配列', id: 'jis_array' %>
                  <%= label_tag 'jis_array', '今までと同じものがいい(JIS配列)', class: 'hover:text-blue-600' %>
                </div>

                <!-- 他のラジオボタンを追加 -->
                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :layout, '', id: 'layout_none' %>
                  <%= label_tag 'layout_none', '選択しない', class: 'hover:text-blue-600' %>
                </div>
              </div>

              <!-- Q5 -->
              <div class="p-4 bg-white rounded-lg">
                <p class="mb-2 text-xl text-blue-600"><%= (t '.q5') %></p>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :connect, '有線', id: 'wired' %>
                  <%= label_tag 'wired', '入力した時に遅延が少ない方がいい', class: 'hover:text-blue-600' %>
                </div>

                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :connect, 'bluetooth', id: 'bluetooth' %>
                  <%= label_tag 'bluetooth', '無線接続の方がいい', class: 'hover:text-blue-600' %>
                </div>

                <!-- 他のラジオボタンを追加 -->
                <div class="mb-2 mr-2 text-lg">
                  <%= f.radio_button :connect, '', id: 'connect_none' %>
                  <%= label_tag 'connect_none', '選択しない', class: 'hover:text-blue-600' %>
                </div>
              </div>

            <button type="submit" class="justify-center px-4 py-1 mt-4 text-xl font-semibold text-white rounded-lg bg-gradient-to-r from-violet-500 to-pink-400 hover:from-green-400 hover:to-blue-500"><%= (t '.submit') %></button>
          </div>
        <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
