<!-- app/views/diagnoses/:id -->
<h1>診断結果</h1>
<br>
<% if @selected_keyboard %>
  <h1><%= current_user.name %>へのおすすめはこちらです!</h1>
    <div class="grid grid-cols-3 gap-4">
      <ul>
        <h2 class="text-lg font-bold"><%= @selected_keyboard.name %></h2>
        <div class="image-gallery">
          <% @selected_keyboard.medium_image_urls.each do |url| %>
            <%= image_tag url, size: "128x128", class: "gallery-image" %>
          <% end %>
        </div>
        <h3>価格: <%= @selected_keyboard.price %>円</h3>
        <h3>対応のOS: <%= @selected_keyboard.os %></h3>
        <h3>サイズ: <%= @selected_keyboard.size %></h3>
        <!-- 他のキーボード情報も表示できるようにする場合、適宜追加してください -->
      </ul>
    </div>
<% else %>
  <p>選択された条件に合うものは見つかりませんでした。</p>
<% end %>
<br>
<%= link_to '新しい診断を行う', new_diagnosis_path %>

<div class="relative flex flex-col text-gray-700 bg-white shadow-md w-96 rounded-xl bg-clip-border">
  <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white h-96 rounded-xl bg-clip-border">
    <%= image_tag @selected_keyboard.medium_image_urls.first, class: "object-cover w-full h-full"%>
  </div>
  <div class="p-6">
    <div class="flex items-center justify-between mb-2">
      <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
        <%= @selected_keyboard.name %>
      </p>
    </div>
    <div class="flex items-center justify-between mb-2">
      <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
        ¥<%= @selected_keyboard.price %>
      </p>
    </div>
    <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
      <%= @selected_keyboard.os %>
    </p>
    <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
      <%= @selected_keyboard.size %>
    </p>
    <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
      <%= @selected_keyboard.layout %>
    </p>
    <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
      <%= @selected_keyboard.switch %>
    </p>
  </div>
  <div class="p-6 pt-0">
    <button
      class="block w-full select-none rounded-lg bg-blue-gray-900/10 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
    >
      Add to Cart
    </button>
  </div>
</div>
