<div class="flex justify-center mb-7 image-gallery gap-4">
  <% @keyboard.medium_image_urls.each do |image| %>
    <%= image_tag image, class: "w-64 h-64 object-cover" %>
  <% end %>
</div>
<%= form_with model: @keyboard, url: admin_keyboard_path(@keyboard), local: true do |f| %>
  <div class="flex flex-col w-full">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :price %>
    <%= f.text_field :price %>

    <%= f.label :os %>
    <%= f.text_field :os %>

    <%= f.label :size %>
    <%= f.text_field :size %>

    <%= f.label :layout %>
    <%= f.text_field :layout %>

    <%= f.label :switch %>
    <%= f.text_field :switch %>

    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="flex flex-wrap -mx-2">
    <% Tag.all.each do |tag| %>
      <div class="w-1/4 px-2">
        <label class="block">
          <%= check_box_tag 'keyboard[tag_ids][]', tag.id, @keyboard.tag_ids.include?(tag.id), class: 'mr-1' %>
          <%= tag.name %>
        </label>
      </div>
    <% end %>
  </div>
  <div class="flex flex-col w-full">
  <%= f.submit '更新' %>
  </div>
<% end %>

<% @tags.each do |tag| %>
  <%= tag.name %>
<% end %>
  <br>
  <%= link_to 'DELETE', admin_keyboard_path(@keyboard), data: { turbo_method: :delete, confirm: "投稿を削除します。よろしいですか？" } %>
<br>
<div class="text-lg">
  <%= @keyboard.caption %>
</div>

