<div class="w-full">
  <h1 class="mb-2 text-4xl font-bold text-center"><%= (t '.title') %></h1>
  <div class="flex items-center justify-center mb-2 ">
    <%= search_form_for @q, url: admin_keyboards_path, data: { turbo: false } do |f| %>
      <div class="flex border border-red-400 rounded">
        <%= f.search_field :name_cont, class: "px-4 py-2 w-80" %>
        <button type="submit" class="px-4 py-2 font-bold text-white bg-red-500 hover:bg-red-700"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
      </div>
    <% end %>
  </div>
  <table>
    <thead>
      <tr class="bg-white border border-black">
        <th class="p-2 border border-black"><%= sort_link(@q, :id) %></th>
        <th class="p-2 border border-black">アイテム</th>
        <th class="p-2 border border-black"><%= sort_link(@q, :connect) %></th>
        <th class="p-2 border border-black"><%= sort_link(@q, :brand) %></th>
        <th class="p-2 border border-black"><%= sort_link(@q, :price) %></th>
        <th class="p-2 border border-black"><%= sort_link(@q, :os) %></th>
        <th class="p-2 border border-black"><%= sort_link(@q, :size) %></th>
        <th class="p-2 border border-black"><%= sort_link(@q, :layout) %></th>
        <th class="p-2 border border-black"><%= sort_link(@q, :switch) %></th>
      </tr>
    </thead>
    <tbody>
      <% @keyboards.each do |keyboard| %>
        <tr class="bg-white border border-black">
          <div class="grid grid-cols-3 gap-4">
            <td class="p-2 border border-black"><%= keyboard.id %></td>
            <td class="p-2 border border-black"><%= link_to keyboard.name, edit_admin_keyboard_path(keyboard), class: "underline text-blue-500" %></td>
            <td class="p-2 border border-black"><%= keyboard.connect %></td>
            <td class="p-2 border border-black"><%= keyboard.brand %></td>
            <td class="p-2 border border-black"><%= keyboard.price %></td>
            <td class="p-2 border border-black"><%= keyboard.os %></td>
            <td class="p-2 border border-black"><%= keyboard.size %></td>
            <td class="p-2 border border-black"><%= keyboard.layout %></td>
            <td class="p-2 border border-black"><%= keyboard.switch %></td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
