<div class="w-full">
  <% @keyboards.each do |keyboard| %>

      <div class="m-4">
        <%= button_to edit_admin_keyboard_path(keyboard), method: :get, class: "flex items-center h-fit border border-slate-200 shadow-lg rounded-lg justify-left hover:text-black hover:bg-slate-200 bg-white w-full" do %>
          <div class='flex m-2 justify-left'>
            <%= image_tag keyboard.medium_image_urls.first, size: '100' %>
          </div>
          <div class="flex flex-col p-2">
            <div class='flex mb-2 border items-left'>
              <%= keyboard.name %>
            </div>
            <div class='flex mb-2 border items-left'>
              <div class='flex mb-2 border items-left'>
                <%= keyboard.layout %>
              </div>
              <div class='flex mb-2 border items-left'>
                <%= keyboard.size %>
              </div>
              <div class='flex mb-2 border items-left'>
                <%= keyboard.switch %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

  <% end %>
</div>
