<div class="w-full">
  <% @keyboards.each do |keyboard| %>

      <div class="m-4">
        <%= button_to keyboard_path(keyboard), method: :get, class: "flex border border-slate-200 shadow-lg rounded-lg justify-left w-full px-4" do %>
          <div class="p-6 border border-black">
            <div class='border border-black'>
              <%= keyboard.name %>
            </div>
            <div class='border border-black'>
              <%= keyboard.layout %>
            </div>
            <div class='border border-black'>
              <%= keyboard.size %>
            </div>
            <div class='border border-black'>
              <%= keyboard.switch %>
            </div>
            <div class="mt-6 text-lg text-red-500 border border-black">¥ <%= keyboard.price.to_s(:delimited) %></div>
          </div>
        <% end %>
      </div>

  <% end %>
</div>
