<div class="w-full">
  <% @keyboards.each do |keyboard| %>

      <div class="m-4">
        <%= button_to edit_admin_keyboard_path(keyboard), method: :get, class: "flex items-center h-fit border border-slate-200 shadow-lg rounded-lg justify-left w-full" do %>
          <div class='flex w-5 h-5 m-2 justify-left'>
            <%= image_tag keyboard.medium_image_urls.first %>
          </div>
          <div class="flex flex-col w-1/2 p-2 items-left justify-left">
            <div class='flex mb-2 borderitems-left'>
              <%= keyboard.name %>
            </div>
            <div class='flex mb-2 borderitems-left'>
              <%= keyboard.layout %>
              <%= keyboard.size %>
              <%= keyboard.switch %>
            </div>
          </div>
        <% end %>
      </div>

  <% end %>
</div>
