<div class="flex items-center justify-center ">
  <%= form_with url: admin_keyboards_search_path, method: :get do |f| %>
    <div class="flex items-center p-2">
      <%= f.text_field :keyword, value: @model, class: "px-4 py-2 w-80" %>
      <%= f.submit '製品名を検索', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4" %>
    </div>
  <% end %>
</div>
<div class="mt-4">
  <% if @keyboards.any? %>
    <div class="text-center text-gray-700">
      <h2 class="mb-10 text-2xl font-bold"><%= @keyboard.name %></h2>
      <div class="flex justify-center mb-7 image-gallery gap-4">
        <% @keyboard.medium_image_urls.each do |image| %>
          <%= image_tag image, class: "w-64 h-64 object-cover" %>
        <% end %>
      </div>
      <div class="w-full px-2 py-4 border border-gray-100 rounded-lg shadow-lg mb-7">
        <h3 class="mb-2 text-4xl font-bold"><span class="text-red-500">価格 </span><%= @keyboard.price %>円</h3>
      </div>
      <div class="w-full px-2 py-4 rounded-lg shadow-lg mb-7">
        <h3 class="mb-2 text-2xl font-bold text-red-500">対応のOS</h3>
        <h3 class="mb-2 text-2xl font-bold">
          <% @keyboard.os.each do |os| %>
            <%= os %>
          <% end %>
        </h3>
      </div>

      <div class="flex justify-between">
      <div class="w-full px-2 py-4 rounded-lg shadow-lg mb-7">
        <h3 class="mb-2 text-2xl font-bold"><%= @keyboard.size %></h3>
      </div>
        <div class="w-full px-2 py-4 rounded-lg shadow-lg mb-7">
          <h3 class="mb-2 text-2xl font-bold"><%= @keyboard.layout %></h3>
        </div>
        <div class="w-full px-2 py-4 rounded-lg shadow-lg mb-7">
          <h3 class="mb-2 text-2xl font-bold"><%= @keyboard.switch %>スイッチ</h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
