<header>
  <nav class="px-4 lg:px-6 py-2.5">
    <div class="flex flex-wrap items-center justify-between mx-auto max-w-screen-xl">

      <%= render 'shared/search_form' %>

      <div class="items-center hidden w-full lg:flex lg:w-auto" id="mobile-menu-2">
        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
          <li>
            <%= button_to (t 'defaults.top'), root_path, method: :get, class: "bg-transparent hover:bg-slate-500 text-slate-700 hover:text-white py-2 px-4 hover:border-transparent rounded" %>
          </li>
          <li>
            <%= button_to '使用方法', how_to_use_path, method: :get, class: "bg-transparent hover:bg-slate-500 text-slate-700 hover:text-white py-2 px-4 hover:border-transparent rounded" %>
          </li>
        </ul>
      </div>

      <div class="flex items-center lg:order-2 space-x-4"> <!-- space-x-4 を追加 -->
        <%= button_to t('defaults.login'), login_path, method: :get, class: "bg-transparent hover:bg-slate-500 text-slate-700 hover:text-white py-2 px-4 hover:border-transparent rounded" %>
        <%= button_to t('defaults.register'), new_user_path, method: :get, class: "bg-transparent hover:bg-slate-500 text-slate-700 hover:text-white py-2 px-4 hover:border-transparent rounded" %>
      </div>
    </div>
  </nav>
</header>
