<button class="px-3 py-2 border rounded dropdown_button border-slate-400 rounded-md transition-colors duration-300 hover:bg-slate-500 text-slate-700 hover:text-white">
  <i class="fa-solid fa-lg fa-bars"></i>
</button>
<div class="dropdown" style="display: none;">
  <!-- メニューコンテンツ -->
  <ul class="absolute right-0 z-10 w-48 py-2 mt-2 text-sm bg-white rounded-lg shadow text-slate-500 origin-top-right divide-y divide-slate-300">
    <li>
      <%= link_to (t 'defaults.top'), root_path, class: "block px-4 py-2 hover:bg-slate-100 text-slate-700" %>
    </li>
    <li>
      <%= link_to (t 'defaults.how_to'), how_to_use_path, class: "block px-4 py-2 hover:bg-slate-100 text-slate-700" %>
    </li>
    <li>
      <%= link_to (t 'defaults.ranking'), keyboards_ranks_path, class: "block px-4 py-2 hover:bg-slate-100 text-slate-700" %>
    </li>
    <li>
      <%= link_to t('defaults.login'), login_path, class: "block px-4 py-2 hover:bg-slate-100 text-slate-700" %>
    </li>
    <li>
      <%= link_to t('defaults.register'), new_user_path, class: "block px-4 py-2 hover:bg-slate-100 text-slate-700" %>
    </li>
  </ul>
</div>
