<div class="grid grid-cols-3 gap-4">
  <% @keyboards.each do |keyboard| %>
    <div class="p-4 border rounded-md">
      <h2 class="text-lg font-bold"><%= link_to keyboard.name, keyboard_path(keyboard) %></h2>
      <% keyboard.medium_image_urls.each do |image| %>
        <%= image_tag image %>
      <% end %>
      <p>価格: <%= keyboard.price %>円</p>
      <p>ブランド名: <%= keyboard.brand %></p>
      <p>OS: <%= keyboard.os %></p>
      <p>レイアウト: <%= keyboard.layout %></p>
      <p>サイズ: <%= keyboard.size %></p>
      <p>キースイッチ: <%= keyboard.switch %></p>
      <% keyboard.tags.each do |tag| %>
        <span><%= link_to tag.name, keyboards_path(tag_id: tag.id) %></span>
      <% end %>
    </div>
  <% end %>
</div>

