<div class="max-w-screen-xl">
  <% keyboards.each.with_index(1) do |keyboard, i| %>
    <% if i == 1 %>
      <div class="flex items-center justify-center">

        <div class="font-sans text-4xl text-orange-400">
          <i class="fa-regular fa-fw fa-chess-king" style="color:orange;"></i><%= i %> 位
        </div>

        <div class="m-4">
          <%= button_to keyboard_path(keyboard), method: :get, class: "flex justify-center max-w-xl px-4" do %>
            <div class='relative flex m-0 bg-white shadow-lg'>
              <div class='relative flex-1 card-block'>
                <div class="p-6">
                  <p class='leading-normal'>
                    <%= keyboard.name %>
                  </p>
                  <p class="block mt-6 text-lg text-red-500">¥ <%= keyboard.price.to_s(:delimited) %></p>
                </div>
              </div>
              <div class="relative flex items-center justify-center m-2 bg-white bg-clip-border">
                <%= image_tag keyboard.medium_image_urls.first, size: "200" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>

    <% else %>
      <div class="flex items-center justify-center">

        <div class="font-sans text-4xl text-slate-700">
          <i class="fa-regular fa-fw fa-chess-king" style="color:white;"></i><%= i %> 位
        </div>

        <div class="m-4">
          <%= button_to keyboard_path(keyboard), method: :get, class: "flex justify-center max-w-xl px-4" do %>
            <div class='relative flex m-0 bg-white shadow-lg'>
              <div class='relative flex-1 card-block'>
                <div class="p-6">
                  <p class='leading-normal'>
                    <%= keyboard.name %>
                  </p>
                  <p class="block mt-6 text-lg text-red-500">¥ <%= keyboard.price.to_s(:delimited) %></p>
                </div>
              </div>
              <div class="relative flex items-center justify-center m-2 bg-white bg-clip-border">
                <%= image_tag keyboard.medium_image_urls.first, size: "200" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    <% end %>
  <% end %>
</div>

