<h1>Keyboards#index</h1>
<%= link_to "一覧画面", keyboards_path %>
<%= link_to "取得画面", keyboards_search_path %>
  <!-- 一覧 -->
<div class="mt-4">
  <!-- ページネーション -->
  <%= paginate @keyboards %>
  <!-- 掲示板 -->
  <% if @keyboards.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
      <%= render 'keyboards/keyboard' %>
    </div>
  <% else %>
    <li>条件に合うものは見つかりませんでした。</li>
  <% end %>
  <!-- ページネーション -->
  <%= paginate @keyboards %>
</div>
