<div class="p-6 mx-auto max-w-screen-xl">
  <div class="flex justify-center pt-6 max-w-screen-xl">

  <div class="w-64 h-screen">
    <div class="h-full px-3 py-4 overflow-y-auto bg-white">
      <div class="text-xl text-center text-bold">
        ランキング
      </div>
      <ul class="text-lg font-medium space-y-2">
        <li>
          <%= link_to 'javascript:void(0);', class: "flex items-center p-2 rounded-lg text-slate-700 switch-ranking", "data-target": "#bookmarkRanks" do %>
            <span class="flex-1 ms-3 whitespace-nowrap">お気に入り数</span>
          <% end %>
        </li>
        <li>
          <%= link_to 'javascript:void(0);', class: "flex items-center p-2 rounded-lg text-slate-700 switch-ranking", "data-target": "#commentRanks" do %>
            <span class="flex-1 ms-3 whitespace-nowrap">コメント数</span>
          <% end %>
        </li>
        <li>
          <%= link_to 'javascript:void(0);', class: "flex items-center p-2 rounded-lg text-slate-700 switch-ranking", "data-target": "#diagnosisRanks" do %>
            <span class="flex-1 ms-3 whitespace-nowrap">診断結果表示回数</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <!-- blindはranks.jsで使うため注意 -->
  <div class="text-center blind" id="bookmarkRanks">
    <h1 class="pt-6 text-4xl font-bold text-center text-slate-700">お気に入り</h1>
    <div class="flex justify-center">
      <div class="grid grid-cols-1">
        <%= render 'keyboards/keyboard', keyboards: @bookmark_ranks %>
      </div>
    </div>
  </div>

  <div class="text-center blind" id="commentRanks">
    <h1 class="pt-6 text-4xl font-bold text-center text-slate-700">コメント</h1>
    <div class="flex justify-center">
      <div class="grid grid-cols-1" id="each_ranks">
        <%= render 'keyboards/keyboard', keyboards: @comment_ranks %>
      </div>
    </div>
  </div>

  <div class="text-center blind" id="diagnosisRanks">
    <h1 class="pt-6 text-4xl font-bold text-center text-slate-700">診断結果</h1>
    <div class="flex justify-center">
      <div class="grid grid-cols-1" id="each_ranks">
        <%= render 'keyboards/keyboard', keyboards: @diagnosis_ranks %>
      </div>
    </div>
  </div>
</div>
