<h1 class="text-2xl font-bold">Keyboard search</h1>
<%= link_to "一覧画面", keyboards_path %>
<%= link_to "取得画面", keyboards_search_path %>
<%= render 'keyboards/search_box' %>
<div class="mt-4">
  <% if @keyboards.any? %>
    <div class="grid grid-cols-3 gap-4">
      <% @keyboards.each do |keyboard| %>
        <div class="p-4 border rounded-md">
          <h2 class="text-lg font-bold"><%= keyboard.brand %></h2>
          <p><%= image_tag keyboard.image %></p>
          <p>価格: <%= keyboard.price %>円</p>
          <p>ブランド名: <%= keyboard.brand %></p>
          <p>OS: <%= keyboard.os %></p>
          <p>レイアウト: <%= keyboard.layout %></p>
          <p>サイズ: <%= keyboard.size %></p>
          <p>キースイッチ: <%= keyboard.switch %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
