<h1>Keyboards#show</h1>
<%= link_to "一覧画面", keyboards_path %>
<%= link_to "取得画面", keyboards_search_path %>
<div class="grid grid-cols-3 gap-4">
  <div class="p-4 border rounded-md">
    <h2 class="text-lg font-bold"><%= @keyboard.name %></h2>
    <% @keyboard.medium_image_urls.each do |image| %>
      <%= image_tag image %>
    <% end %>
    <p>ブランド名: <%= @keyboard.brand %></p>
    <p>価格: <%= @keyboard.price %>円</p>
    <p>キーサイズ: <%= @keyboard.size %></p>
    <p>対応OS: <%= @keyboard.os %></p>
    <p>キー配列: <%= @keyboard.layout %></p>
    <p>キースイッチ: <%= @keyboard.switch %>方式</p>
    <p>説明: <%= @keyboard.caption %></p>
    <h4>タグ↓</h4>
    <% @tags.each do |tag| %>
      <span><%= link_to tag.name, keyboards_path(tag_id: tag.id) %></span>
    <% end %>
  </div>
</div>
