<!-- app/views/contacts/new.html.erb -->
<div class='overflow-scroll top-wrapper'>
  <div class="p-6 mx-auto my-auto mt-8 bg-white rounded-lg shadow-lg max-w-screen-lg">
    <div class="flex justify-center mb-4 text-4xl font-bold text-slate-600">
      お問い合わせ
    </div>
    <%= form_with model: @contact, url: confirm_contacts_path, data: { turbo: false }, local: true do |f| %>
      <div class="mb-3 form-group">
        <%= f.label :name, '名前', class:"text-lg pb-2" %>
        <%= f.text_field :name, class:"w-full rounded-lg border border-slate-700" %>
      <div class="mt-3 mb-3 form-group">
        <%= f.label :email, 'メールアドレス', class:"text-lg pb-2" %>
        <%= f.email_field :email, class:"w-full rounded-lg border border-slate-700" %>
      </div>
      <div class="mb-3 form-group">
        <%= f.label :subject, '件名', class:"text-lg pb-2" %>
        <%= f.text_field :subject, class:"w-full rounded-lg border border-slate-700" %>
      </div>
      <div class="mb-4 form-group">
        <%= f.label :message, 'メッセージ', class:"text-lg pb-2" %>
        <%= f.text_area :message, class:"w-full rounded-lg border border-slate-700", rows: '5' %>
      </div>
      <div class="flex justify-center">
        <%= f.submit '入力内容確認', class: 'text-lg border-2 border-red-500 rounded-lg text-red-500 shadow-lg hover:bg-red-500 hover:text-white text-center py-1 px-3 hover:border-transparent rounded' %>
      </div>
    <% end %>
  </div>
</div>
