<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbolinks-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" , media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <div class="bg-cyan-200">
        <%= render 'admin/shared/header' %>
      </div>
      <div class="bg-cyan-100">
        <%= render 'shared/flash_message' %>

        <div class="pt-6 pb-6 mx-auto max-w-screen-xl">
          <div class="flex justify-center max-w-screen">

            <div class="w-1/4 px-3 py-4 bg-white">
              <%= render 'admin/shared/sidebar' %>
            </div>

            <div class="w-3/4 ml-4 bg-white">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
