<%#= render 'form', user: @user %>
<%= turbo_frame_tag @user do %>
  <div class="m-4">
    <%= form_with model: @user,  url: admin_user_path(@user) do |f| %>
      <div class="flex items-center w-full h-24 bg-white border rounded-lg shadow-lg h-fit border-slate-200 justify-left">
        <div class='flex w-1/6 m-2 justify-left'>
          <% if @user.image.attached? %>
            <%= image_tag @user.image.variant(resize: '100') %>
          <% else %>
            <%= image_tag 'noimage.png', size: '80' %>
          <% end %>
        </div>
        <div class="flex flex-col w-2/3">
          <div class='flex mb-2 items-left'>
            <%= f.text_field :name, placeholder: '名前' %>
          </div>
          <div class='flex items-center mb-2'>
            <%= f.email_field :email, placeholder: 'メールアドレス' %>
          </div>
        </div>
        <div class="flex w-1/6">
          <%= f.submit "更新", class:'px-3 py-2 shadow-lg text-green-500 hover:text-white rounded border border-green-500 hover:bg-green-500' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
