<header>
  <nav class="px-4 py-2 lg:px-6">
    <div class="flex flex-wrap items-center justify-between max-w-full">

      <div class="flex items-center ml-40"> <!-- フォームを左寄せ -->
        <%# = render 'shared/search_form' %>
      </div>

      <div class="flex items-center justify-center flex-grow"> <!-- 中央揃え -->
        <ul class="flex flex-col lg:flex-row lg:space-x-8">
          <li>
            <%= button_to "インデックス", admin_keyboards_path, method: :get, class: "transition-colors duration-300 hover:bg-blue-900 text-blue-500 hover:text-white py-2 px-3 rounded", "aria-current" => "page" %>
          </li>
          <li>
            <%= button_to "すべての一覧", keyboards_path, method: :get, class: "transition-colors duration-300 hover:bg-blue-900 text-blue-500 hover:text-white py-2 px-3 rounded", "aria-current" => "page" %>
          </li>
          <li>
            <%= button_to "データ取得", admin_keyboards_search_path, method: :get, class: "transition-colors duration-300 hover:bg-blue-900 text-blue-500 hover:text-white py-2 px-3 rounded", "aria-current" => "page" %>
          </li>
          <li>
            <%= button_to (t 'defaults.logout'), admin_keyboards_path, method: :get, class: "transition-colors duration-300 hover:bg-blue-900 text-blue-500 hover:text-white py-2 px-3 rounded", "aria-current" => "page" %>
          </li>
        </ul>
      </div>

      <div class="flex items-center justify-end mr-40"> <!-- 右寄せ -->
      <%= button_to (t 'defaults.logout'), admin_logout_path, data: { turbo_method: :delete }, class: "bg-transparent hover:bg-blue-900 text-blue-500 hover:text-white py-2 px-4 hover:border-transparent rounded" %>
      </div>

    </div>
  </nav>
</header>
